body {
background-image: radial-gradient(circle at 65% 15%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 40% 33%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 9% 92%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 84% 0%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 97% 94%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 13% 95%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 77% 8%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 58% 0%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 76% 71%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 88% 74%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 74% 99%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 16% 56%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 25% 4%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 54% 83%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 70% 60%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 23% 73%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 63% 81%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 56% 58%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 64% 68%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 52% 48%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),linear-gradient(318deg, rgb(54, 51, 154),rgb(148, 25, 101));

  font-family: Arial, sans-serif;
}

.weather-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
color: white;
}

.weather-box {
  background: rgba(255, 255, 255, 0.21);
  padding: 20px 30px;
  border-radius: 15px;
  text-align: center;
  width: 90%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.weather-box input {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 5px;
}

.weather-box button {
  padding: 10px 15px;
  background: #4c6ef5;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.weather-box button:hover {
  background: #364fc7;
}

.weather-result {
  margin-top: 15px;
}

.temp {
  font-size: 2rem;
  font-weight: bold;font-size: 35px;
}

.desc {
  font-size: 1.8rem;
  margin-bottom: 10px;  font-weight: 500;
}
.hu{font-size: 1.7rem; margin-bottom: 10px;  font-weight: 400;

}
.wi{font-size: 1.6rem; margin-bottom: 10px;  font-weight: 300;

}.fe{font-size: 1.5rem; margin-bottom: 10px; font-weight: 200;

}.lo{ font-weight: 1000; 
  font-size: 50px;margin-bottom: 10px; 
}